<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.apple.dt.Xcode:playground_Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.duckcode.LaunchBar.action.CreateNewSwiftPlayground</string>
	<key>CFBundleName</key>
	<string>Create New Swift Playground (OS X)</string>
	<key>CFBundleVersion</key>
	<string>1.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-2016 Marco Masser</string>
	<key>LBTextInputTitle</key>
	<string>New Playground Name</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.swift</string>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBResultType</key>
			<string>path</string>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Marco Masser</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/marcomasser/LaunchBarActions</string>
		<key>LBTwitter</key>
		<string>@ogott</string>
		<key>LBSummary</key>
		<string>This action creates a new Swift Playground for OS X and opens it.
By default, the new Playground will be created in the Documents directory, but that can be changed in the Action’s preferences file after it is run for the first time.</string>
		<key>LBRequirements</key>
		<string>This action is written in Swift 2.2 and therefore requires Xcode 7.3.</string>
		<key>LBArgument</key>
		<string>The name for the new Playground. If omitted, a timestamped name will be used.</string>
		<key>LBResult</key>
		<string>If ⇧ is held down, selects the new Playground in LaunchBar. Otherwise, the new Playground is opened and nothing is returned.</string>
		<key>LBDownloadURL</key>
		<string>https://github.com/marcomasser/LaunchBarActions/raw/master/Signed%20Actions/Create%20New%20Swift%20Playground%20(OS%20X).lbaction</string>
		<key>LBUpdateURL</key>
		<string>https://github.com/marcomasser/LaunchBarActions/raw/master/Source/Create%20New%20Swift%20Playground%20(OS%20X).lbaction/Contents/Info.plist</string>
		<key>LBChangelog</key>
		<string>Version 1.4: Added support for updating the Action.
Version 1.5: Updated to Swift 2.2.
Version 1.6: Updated Playground template files.</string>
	</dict>
</dict>
</plist>
